.row {
  width: 100%;
  height: 100%;
  float: left;
}

.col {
  width: 50%;
  float: left;
}

.image-box {
  position: relative;
  width: 75%;
  height: 500px;
  overflow: hidden;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.image {
  width: 100%;
}

.padding {
  padding: 10px;
}

.tile {
  float: left;
}

.predictions {
  position: absolute;
  top: 0px;
  /* height: calc(100% - 4px);
  width: 100%; */
}
