.row {
  width: 100%;
  height: 100%;
  float: left;
}

.col {
  width: calc(50% - 10px);
  float: left;
  padding-right: 10px;
}

.image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.options {
  height: 20px;
  background-color: lightgrey;
}

.margin-l {
  margin-left: 10px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.image {
  position: relative;
  width: 100%;
  z-index: -1;
}

.padding {
  padding: 10px;
}

.tile {
  box-sizing: border-box;
  float: left;
}

.predictions {
  position: absolute;
  top: 0px;
  height: calc(100% - 4px);
  width: 100%;
  z-index: -1;
}

.image-interactive {
  width: 100%;
  overflow: overlay;
  position: absolute;
  z-index: 10;
}

.margin-r {
  margin-right: 8px;
}

.margin-b {
  margin-bottom: 10px;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

summary {
  font-weight: bold;
  margin: -0.5em 0;
  padding: 0.8em;
}

#ground-truth {
  width: 400px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 15px;
}

#viewer-container {
  float: left;
}

#viewer {
  height: 500px;
  background-color: grey;
}

.highlight {
  border: 0.05em solid white !important;
}

.label {
  border: 0.05em solid yellow;
}

#comment-box {
  display: table;
  position: relative;
  background-color: lightgrey;
  padding: 10px;
  width: calc(100% - 20px);
}

#label-form {
  position: relative;
  visibility: hidden;
}

.label-item {
  overflow: auto;
  margin-bottom: 10px;
}

#label-list {
  overflow: auto;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body {
  font: normal 14px Verdana, Arial, sans-serif;
}
