{% extends 'base.html' %} {% block header %}
<meta property="name" content="{{ name }}" />
{% endblock %} {% block content %}
<script type="module">
  import { initHeatmap } from "{{ url_for('static', filename='js/heatmap.js') }}";
  var labelsDict = JSON.parse(`{{ labels | tojson | safe }}`);
  var predictions = JSON.parse(`{{ predictions | tojson | safe }}`);
  var name = "{{ name }}";
  initHeatmap(predictions, labelsDict, name);
</script>
<div class="top-nav">
  <a href="/">Return to menu</a>
</div>
<div class="side-nav"></div>
<div class="wrapper float-l">
  <h1>Region: {{ name }}</h1>
  <div id="viewer" class="float-l">
    <img id="viewer-img" />
    <div id="comment-box">
      <div class="float-l">
        <ul id="label-list"></ul>
        <form class="float-l" id="label-form">
          <input
            type="text"
            name="label"
            placeholder="Add label"
            id="label-input"
          />
          <input type="submit" value="Add" />
        </form>
        <div class="float-l" id="label-comment" style="margin-left: 10px"></div>
      </div>
      <div class="float-r">
        <button id="magnification-button">x 10</button>
      </div>
    </div>
    <div id="ground-truth">
      <details>
        <summary>Genomic Labels (Ground Truth)</summary>
        <div style="padding-left: 10px">
          {% for mutation in ground_truth %}
          <p>{{ mutation }}: {{ ground_truth[mutation] }}</p>
          {% endfor %}
          <p>'1' represents mutant; '0' represents not mutant</p>
        </div>
      </details>
    </div>
  </div>
  <div class="col" id="graph">
    <div class="options padding">
      <div class="dropdown float-l margin-l" data-control="checkbox-dropdown">
        <label class="dropdown-label" id="heatmap-label">Select Heatmap</label>
        <div class="dropdown-list" id="heatmap-radio-list">
          <label class="dropdown-option">
            <input
              type="radio"
              name="dropdown-group"
              value="None"
              checked="checked"
            />
            None
          </label>
          {% for mutation in predictions.keys() %}
          <label class="dropdown-option">
            <input type="radio" name="dropdown-group" value="{{ mutation }}" />
            {{ mutation }}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown float-l margin-l" data-control="checkbox-dropdown">
        <label class="dropdown-label" id="labels-label">Select Labels</label>

        <div class="dropdown-list" id="labels-checkbox-list">
          <label class="dropdown-option">
            <input type="checkbox" name="dropdown-group" id="select-all" />
            Select all
          </label>
          <hr />
          {% for label in all_labels %}
          <label class="dropdown-option">
            <input type="checkbox" name="dropdown-group" value="{{ label }}" />
            {{ label }}
          </label>
          {% endfor %}
        </div>
      </div>

      <div
        style="margin-top: 1.3px; margin-left: 10px"
        class="float-r margin-r"
        id="current"
      >
        Current:
      </div>
    </div>
    <div class="image-box float-l">
      <div class="image-interactive" id="image-interactive">
        <img
          class="image"
          src="data:image/jpeg;base64,{{ slide_image }}"
          alt="Scan"
        />
        <div class="predictions"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
